/*==================================================
=                    FONTS                         =
==================================================*/

@font-face {
  font-family: 'Velvelyne';
  src: url('../portfolio/fonts/Velvelyne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avara_Bold';
  src: url('../portfolio/fonts/Avara-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Avara_BoldItalic';
  src: url('../portfolio/fonts/Avara-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Avara_Black';
  src: url('../portfolio/fonts/Avara-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto-Sans-Egyptian-Hieroglyphs';
  src: url('../portfolio/fonts/NotoSansEgyptianHieroglyphs-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Teranoptia';
  src: url('../portfolio/fonts/Teranoptia-Furiae.woff2') format('woff2');
}

@font-face {
  font-family: 'Peix';
  src: url('../portfolio/fonts/Peix.woff2') format('woff2');
}


/*==================================================
=                GLOBAL / RESET                    =
==================================================*/

* {
  box-sizing: border-box;
}

:root {
  --gap: 1.5rem;
}

html {
  scroll-padding-top: 60px;
}

body {
  margin: 3vw 0 0 0;
  font-family: sans-serif;
  color: black;
  padding-top: 2vw;
}

body, h1, h2, h3, ol {
  overflow-wrap: break-word;
  word-break: break-word;
  background-color: #D3BCB0;
}

a {
  font-family: 'Inclusive Sans';
  text-decoration: underline;
  font-weight: 700;
  color: black;
}


/*==================================================
=                    TYPOGRAPHY                    =
==================================================*/

h1 {
  font-size: 2em;
  font-family: 'Inclusive Sans', Arial, sans-serif;
  font-weight: 700;
  padding: 0 20vw;
}

h2 {
  font-family: 'Inclusive Sans', Arial, sans-serif;
  font-weight: 700;
  padding: 0 20vw;
}

p {
  margin: 0 20vw 0 1vw;
  line-height: 1.6;
  font-family: 'Inclusive Sans', Arial, sans-serif;
}

ol {
  font-family: 'Inclusive Sans', Arial, sans-serif;
  padding: 7vw 22.5vw 0;
  font-size: 35px;
  font-weight: 700;
}


/*==================================================
=                    HEADER / NAV                  =
==================================================*/

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 50;
  background: transparent;
}

.header-left a {
  font-family: 'Teranoptia';
  font-size: 4em;
  text-decoration: none;
}

.header-left a:hover {
  background-color: #26f268;
  color: white;
}

.site-name {
  font-family: 'Inclusive Sans', serif;
  font-size: 2.5em;
  font-weight: 700;
}

nav ul {
  display: flex;
  font-size: 3.7vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  padding-right: 2vw;
  color: black;
  transition: 0.2s ease;
}

nav ul li a:hover {
  background-color: #26f268;
  color: white;
}


/*==================================================
=                    GALLERY                       =
==================================================*/

#gallery {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}


/*==================================================
=                    BIO SECTION                   =
==================================================*/

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 120px;
}

.bio-text {
  max-width: 60ch;
  font-size: 16px;
  line-height: 1.6;
}


/*==================================================
=                 PROJECT SECTIONS                 =
==================================================*/

.I_WANNA_FUCKING_SEE_A_LIBRARY,
.LAND,
.FANFICS_TO_BOOKS,
.OTHER_ZINES {
  margin-left: 20vw;
}


/*==================================================
=                 CANVA EMBED                      =
==================================================*/

.canva-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  margin: 2em 0;
}

.canva-container iframe {
  position: absolute;
  width: 60vw;
  border: none;
}


/*==================================================
=                FLOATING FISH ANIMATION           =
==================================================*/

.floating-fish {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.fish {
  position: absolute;
  width: 10vw;
  animation: swim-left-right 20s linear infinite;
}

.reverse {
  animation: swim-right-left 24s linear infinite;
}

@keyframes swim-left-right {
  0% { left: -20vw; opacity: 1; }
  90% { left: 100vw; opacity: 1; }
  100% { left: 100vw; opacity: 0; }
}

@keyframes swim-right-left {
  0% { left: 100vw; opacity: 1; }
  90% { left: -20vw; opacity: 1; }
  100% { left: -20vw; opacity: 0; }
}


/*==================================================
=                 SCROLL TO TOP BUTTON             =
==================================================*/

#myBtn {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  background: transparent;
  border: none;
  cursor: pointer;
}

#myBtn img {
  width: 150px;
}


/*==================================================
=                    RESPONSIVE                    =
==================================================*/

@media screen and (max-width: 600px) {

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  nav ul li {
    flex: 1;
    text-align: center;
  }

  nav ul li a {
    font-size: 3.5vw;
    padding-right: 0;
    display: block;
  }

  .cv-professional p,
  .cv-professional h1,
  .cv-professional h2 {
    padding: 0 !important;
    margin: 0 !important;
  }
}